@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Poppins", sans-serif;
  --height-screen: "100dvh";
  /* --color-linear-card-pop-up: #141516;
  --color-purple-card: #dbe5ff; */
  --font-helvetica-arial: "Helvetica", "Arial", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50;
  }
}
